// source/scss/_body.scss

$brand: #4A90E2;
$brand-alternate: #F5A623;

body {
    font-family: -apple-system, Sans-Serif;
    color: $brand;
}

h1 {
    font-size: 24pt;
}

.testClass {
    color: $brand-alternate;
}

